.vscode
__pycache__
public
pids
logs
node_modules
npm-debug.log
coverage/
run
.DS_Store
.nyc_output
.basement
config.local.js
basement_dist
.idea
.yarnrc
bs4/
selenium/
screenshots/
src/.vuepress/.cache/
src/.vuepress/.temp/
src/.vuepress/dist/
