{% extends "layout.html" %}
  
{% block title %}Project Description{% endblock %}


<div class="row mt-4">
  <div class="col">
    <div class="bd-callout bd-callout-info">
      <h2>Inspiration</h2>
      <hr>
      <p>In the field of environmental science, heavy metal pollution has become a global concern. Nickel, as a common heavy metal, poses a significant threat to our living environment. Nickel naturally occurs mainly in mineral forms, but due to human activities, large amounts of nickel are released into the environment. The primary sources of pollution include mining, smelting processes, electronic waste treatment, and nickel alloy manufacturing. If the wastewater, exhaust gases, and waste residues from these activities are not properly treated, nickel can enter the soil and water bodies, leading to a series of environmental issues.</p>
    <h2>Solution</h2>
    <hr>
    <p>Given this severe situation, our team has focused on addressing this problem this year. We aim to develop a symbiotic system composed of E. coli and cyanobacteria. In this system, E. coli can specifically uptake nickel ions from the environment and reduce divalent nickel ions to elemental nickel nanoparticles in a hydrogen-rich environment. Meanwhile, cyanobacteria will utilize photosynthesis to produce hydrogen, creating a microenvironment conducive to the reduction process carried out by E. coli.</p>
    <h2>Reference</h2>
    <hr>
    <p>1.Dosanjh, N. S., &amp; Michel, S. L. (2006). Microbial    nickel metalloregulation: NikRs for nickel ions. Current Opinion in Chemical Biology, 10(2), 123–130.
      <br>
2.Hernandez, J. A., Micus, P. S., Sunga, S. A. L., Mazzei, L., Ciurli, S., &amp; Meloni, G. (2023). Metal selectivity and translocation mechanism characterization in proteoliposomes of the transmembrane NiCoT transporter NixA from Helicobacter pylori. Chemical science, 15(2), 651–665.
      <br>
3.Degen, O., &amp; Eitinger, T. (2002). Substrate specificity of nickel/cobalt permeases: insights from mutants altered in transmembrane domains I and II. Journal of bacteriology, 184(13), 3569–3577.
      <br>
4.Maier RJ, Benoit SL, Seshadri S. Nickel-binding and accessory proteins facilitating Ni-enzyme maturation in Helicobacter pylori. Biometals. 2007 Jun;20(3-4):655-64.
      <br>
5.Diep, P., Leo Shen, H., Wiesner, J. A., Mykytczuk, N., Papangelakis, V., Yakunin, A. F., &amp; Mahadevan, R. (2023). Engineered nickel bioaccumulation in Escherichia coli by NikABCDE transporter and metallothionein overexpression. Engineering in Life Sciences, 23(7), 2200133.</p> 
    </div>
  </div>
</div>


