/* @import '../public/fonts/fonts.scss'; */

@keyframes rotateLogo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
/*   .vp-nav-logo {
    animation: rotateLogo 0.27s linear infinite; 
  } */
  .vp-hero-image {
    animation: rotateLogo 0.27s linear infinite; 
  }
  .vp-highlight-image {
    animation: rotateLogo 0.27s linear infinite; 
  }
  
  .header-gif {
    position: relative;
    width: 100%;
    height: 100vh; /* 占满整个视窗高度 */
    overflow: hidden;
  }
  
  .header-gif video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* 保持视频内容比例，不拉伸 */
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .vp-site-name {
    color: #F99F43; 
  }

  /* 样式化 h1 标题 */
   h1 {
    font-family: "BerlinSansFBDemi","Brush Script","Berlin Sans FB Demi", sans-serif;
    color: #F99F43; 
    text-shadow: 12px 7.5px 0px rgba(8, 146, 185, 0.65);
    padding-right: 12px;
    /* background-color: #f2ecdb; 8/
    padding: 10px;
    border: 2px solid #f2ecdb;
    /* 可选：设置圆角 */
    border-radius: 5px;
    font-size: 10em;
    line-height: 1.2;
    font-weight: 700;
  } 

h2 .header-anchor {
  background: linear-gradient(to right, #FEBC5B, #01C1CC);
  color: white;
  padding: 4px 10px; /* 根据需要调整内边距 */
  border-radius: 999px; /* 可选：圆角 */
  /* text-decoration: none; /* 去掉下划线 */ 
}

h2 .header-anchor:hover {
  opacity: 0.8; /* 可选：悬停效果 */
}

h3 {
  color: #57a0fe;
}


/* TABLE */
table {
  width: 85%; /* 可选：让表格稍微向中间集中些 */
  margin: 0 auto;
  border-collapse: collapse; /* 合并边框 */
  background-color: transparent; /* 背景色设置为透明 */
}

th, td {
  padding: 8px 12px; /* 内边距调整 */
  text-align: center; /* 文字居中 */
  background-color: transparent; /* 确保所有单元格背景透明 */
}

/* 顶部和底部加粗的线 */
table thead th,
table tfoot td {
  border-top: 2px solid #57a0fe; /* 顶部粗线 */
  border-bottom: 2px solid #57a0fe; /* 底部粗线 */
}

table tbody tr:first-child td {
  border-top: 2px solid #57a0fe; /* 表头下方的粗线 */
}

table tbody tr:last-child td {
  border-bottom: 2px solid #57a0fe; /* 表格底部的粗线 */
}

/* 表头字体加粗 */
table thead th {
  font-weight: bold;
}

/* 移除所有纵向线条 */
th, td {
  border-left: none;
  border-right: none;
}

/* 移除所有行的交替背景色 */
table tr:nth-child(odd),
table tr:nth-child(even) {
  background-color: transparent; /* 确保所有行背景透明 */
}


.vp-nav-screen{
  background: #f2ecdb; 
}


body {
  /* background-color: #64563f; */
}
$content-width: 800px !default;


/* 修改 vp-page-title 样式 */
.theme-hope-content .vp-page-title {
  margin-top: -40px; 
  padding-top: 40px; 
  background: none; 
  text-align: center;
  color: #ffffff;
  font-size: 2.5em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: relative;
}

.theme-hope-content {
  padding-top: 2em; 
}

/* color */
.vp-navbar .auto-link{
  color: #F18B59;
}
.vp-navbar .auto-link:hover {
  color: #0790B8; 
}
.vp-navbar .auto-link.route-link-active {
  color: #0790B8;
}
.vp-dropdown-wrapper .auto-link.route-link-active {
color: #0790B8;
}
.vp-nav-item > .auto-link::before {
  content: " ";
  position: absolute;
  inset: auto 0% 0;
  height: 2px;
  border-radius: 1px;
  background: #0790B8;

}
.vp-navbar .auto-link.route-link-active{
  color: #0790B8;
}
.vp-nav-item > .auto-link.route-link-active{
  color: #0790B8;
}
.vp-dropdown-title{
  color: #F18B59;
}
.vp-toc-link{
  color: #0790B8;
  text-overflow:ellipsis;
}
.vp-toc-item.active > .vp-toc-link {
  color: #F18B59; 
  font-weight: bold; 
}
#app {
  --navbar-bg-color: rgba(169, 222, 232, 0.25);
  --grey-dark: #0790B8;
  --detail-bg-color: #C8EAF1;
  --detail-text-color:#0790B8;

  html[data-theme="dark"] & {
    --navbar-bg-color: rgba(56, 43, 122, 0.25);
    --grey-dark:#CE8218;
    --detail-bg-color: #1F182A;
    --detail-text-color:#f3e4c0;
    h1{
      color: #f2b90f;
      text-shadow: 12px 7.5px 0px rgba(91, 117, 181, 1);
      padding-right: 12px;
    };
    h2 .header-anchor {
      background: linear-gradient(to right, #f0b30f, #2f2bff);
      color: white;
      padding: 4px 10px; 
      border-radius: 999px; 
      /* text-decoration: none; /* 去掉下划线 */ 
    }
    .vp-site-name {
      color: #EB9826; 
    }
    .vp-navbar .auto-link{
      color: #f3e4c0;
    }
    .vp-navbar .auto-link.route-link-active {
      color: #f2b90f;
    }
    .vp-navbar .auto-link:hover {
      color: #f2b90f; 
    }
    .vp-nav-item > .auto-link::before {
      content: " ";
      position: absolute;
      inset: auto 0% 0;
      height: 2px;
      border-radius: 1px;
      background: #f2b90f;
    
    }
    .vp-dropdown-wrapper .auto-link.route-link-active {
    color: #f2b90f;
  }
    .vp-dropdown-title{
      color: #f3e4c0;
    }
    .vp-toc-item.active > .vp-toc-link {
      color: #f2b90f; 
      font-weight: bold; 
  }
    .vp-toc-link{
      color: #f3e4c0;
    }


}

}
pre[class*="h1-"]::before {
  color: #fff !important;

  html[data-theme="dark"] & {
    background-color: #222 !important;
  }
}

$theme-color-light: #F18B59 !important;
$theme-color-dark: #F18B59 !important;

/* fonts */
