
@keyframes rotateLogo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
/*   .vp-nav-logo {
    animation: rotateLogo 0.27s linear infinite; 
  } */
  .vp-hero-image {
    animation: rotateLogo 0.27s linear infinite; 
  }
  .vp-highlight-image {
    animation: rotateLogo 0.27s linear infinite; 
  }
  
  .header-gif {
    position: relative;
    width: 100%;
    height: 100vh; /* 占满整个视窗高度 */
    overflow: hidden;
  }
  
  .header-gif video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover; /* 保持视频内容比例，不拉伸 */
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  .vp-navbar {
    background-color: rgba(153, 198, 254, 0.25) !important;

  }
  
/*    @font-face {
    font-family: 'BerlinSansFBDemi';
    src: url('/fonts/BerlinSansFBDemi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }  */
  
  /* 样式化 h1 标题 */
   h1 {
    font-family: "Tinos", serif;
    color: #57a0fe; 
    /* background-color: #f2ecdb; 8/
    padding: 10px;
    border: 2px solid #f2ecdb;
    /* 可选：设置圆角 */
    border-radius: 5px;
    font-size: 10em;
    line-height: 1.2;
  } 

  /* 修改作者信息样式 */


.vp-nav-screen{
  background: #f2ecdb; 
}


body {
  background-color: #f2ecdb;
}

/* 修改 vp-page-title 样式 */
.theme-hope-content .vp-page-title {
  margin-top: -40px; /* 调整位置 */
  padding-top: 40px; /* 确保标题与波浪形状不会重叠 */
  background: none; /* 取消背景色 */
  text-align: center;
  color: #ffffff;
  font-size: 2.5em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: relative;
}

/* 避免内容被标题遮挡 */
.theme-hope-content {
  padding-top: 2em; /* 根据需要调整 */
}


/* 原有样式保持不变 */
.vp-toc-header {
  padding: 0.5rem 1rem;
  font-weight: 600;
}

.vp-toc-wrapper {
  position: relative;
  overflow: hidden auto;
  height: 0;
  max-height: 8rem;
  margin: 0 0.5rem;
  padding-inline-start: 8px;
  /* 移除以下两行，让文本可以换行 */
  /* text-overflow: ellipsis; */
  /* white-space: nowrap; */
  scroll-behavior: smooth;
  transition: height 0.5s;
}

.vp-toc-list {
  position: relative;
  margin: 0;
  padding: 0;
}

.vp-toc-marker {
  position: absolute;
  inset-inline-start: 0;
  top: 0;
  z-index: 2;
  display: none;
  width: 2px;
  height: 1.7rem;
  background: var(--theme-color);
  transition: top var(--transform-transition);
}

/* 针对屏幕宽度大于等于 1440px 的情况 */
@media (min-width: 1440px) {
  .vp-toc-header {
    padding-top: 0;
    font-size: 0.875rem;
  }

  .vp-toc-wrapper {
    /* 调整宽度 */
    width: 400px; /* 根据需要调整 */
    height: auto;
    max-height: 75vh;
    /* 允许文本换行 */
    white-space: normal;
    /* 移除省略号 */
    text-overflow: initial;
  }

  .vp-toc-wrapper .toc-item {
    white-space: normal;
    overflow: visible;
    text-overflow: initial;
  }

  .vp-toc-wrapper .toc-item a {
    line-height: 1.5;
    padding: 0.25rem 1rem;
  }

  .vp-toc-marker {
    display: block;
  }
}
