

@keyframes rotateLogo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
/*   .vp-nav-logo {
    animation: rotateLogo 0.27s linear infinite; 
  } */
  .vp-hero-image {
    animation: rotateLogo 0.27s linear infinite; 
  }
  .vp-highlight-image {
    animation: rotateLogo 0.27s linear infinite; 
  }
  
  .header-gif {
    position: relative;
    width: 100%;
    height: 100vh; /* 占满整个视窗高度 */
    overflow: hidden;
  }
  
  .header-gif video {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100vw;
    height: 100vh;
    object-fit: cover; 
    transform: translate(-50%, -50%);
    z-index: -1;
  }

  .vp-site-name {
    color: #F99F43; 
  }

  /* 样式化 h1 标题 */
   h1 {
    font-family: "Lobster","Berlin Sans FB Demi",Handjet,Ubuntu,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen,Cantarell,Fira Sans,Droid Sans,Helvetica Neue,sans-serif;
    color: #F99F43; 
    text-shadow: 0.5vw 0.55vw 0px rgba(64, 146, 184, 0.65);
    padding-right: 12px;
    /* background-color: #f2ecdb; 8/
    padding: 10px;
    border: 2px solid #f2ecdb;
    /* 可选：设置圆角 */
    border-radius: 5px;
    font-size: 10em;
    line-height: 1.2;
    font-weight: 700;
  } 
  h2{
    font-family: "Viga";
  }

h2 .header-anchor {
  background: linear-gradient(to right, #FEBC5B, #01C1CC);
  color: white;
  padding: 4px 10px; /* 根据需要调整内边距 */
  border-radius: 999px; /* 可选：圆角 */
  /* text-decoration: none; /* 去掉下划线 */ 
}

h2 .header-anchor:hover {
  opacity: 0.8; /* 可选：悬停效果 */
}

h3 {
  font-family: 'Sofia Sans';
  color: #0790B8;
}


/* TABLE */
table {
  width: 85%; /* 可选：让表格稍微向中间集中些 */
  margin: 0 auto;
  border-collapse: collapse; /* 合并边框 */
  background-color: transparent; /* 背景色设置为透明 */
}

th, td {
  padding: 8px 12px; /* 内边距调整 */
  text-align: center; /* 文字居中 */
  background-color: transparent; /* 确保所有单元格背景透明 */
}

/* 顶部和底部加粗的线 */
table thead th,
table tfoot td {
  border-top: 2px solid #57a0fe; /* 顶部粗线 */
  border-bottom: 2px solid #57a0fe; /* 底部粗线 */
}

table tbody tr:first-child td {
  border-top: 2px solid #57a0fe; /* 表头下方的粗线 */
}

table tbody tr:last-child td {
  border-bottom: 2px solid #57a0fe; /* 表格底部的粗线 */
}

/* 表头字体加粗 */
table thead th {
  font-weight: bold;
}

/* 移除所有纵向线条 */
th, td {
  border-left: none;
  border-right: none;
}

/* 移除所有行的交替背景色 */
table tr:nth-child(odd),
table tr:nth-child(even) {
  background-color: transparent; /* 确保所有行背景透明 */
}


.vp-nav-screen{
  background: #f2ecdb; 
}


body {
  /* background-color: #64563f; */
  font-family: 'Sofia Sans', sans-serif;
}
$content-width: 800px !default;
/* TOC */
@media (min-width: 1440px) {
  .vp-toc-placeholder {
      top: calc(var(--navbar-height) + 1rem);
      margin-top: 0rem;
      margin-bottom: 35rem; 
      /* max-height: calc(100vh - 500rem - 3rem); */}
  .theme-hope-content:not(.custom){
      margin-bottom: 0rem;
      margin-top: -35rem;
    }
  
}
.vp-toggle-sidebar-button {
  display: none !important;
}
.vp-toc-wrapper.open {
  height: auto;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

/* 修改 vp-page-title 样式 */
.theme-hope-content .vp-page-title {
  margin-top: -40px; 
  padding-top: 40px; 
  background: none; 
  text-align: center;
  color: #ffffff;
  font-size: 2.5em;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.5);
  z-index: 10;
  position: relative;
}

.theme-hope-content {
  padding-top: 2em; 
}

/* color */
.vp-navbar .auto-link{
  color: #F19978;
}
.vp-navbar .auto-link:hover {
  color: #0790B8; 
}
.vp-navbar .auto-link.route-link-active {
  color: #0790B8;
}
.vp-dropdown-wrapper .auto-link.route-link-active {
color: #0790B8;
}
.vp-nav-item > .auto-link::before {
  content: " ";
  position: absolute;
  inset: auto 0% 0;
  height: 2px;
  border-radius: 1px;
  background: #4092B8;

}
.vp-navbar .auto-link.route-link-active{
  color: #4092B8;
}
.vp-nav-item > .auto-link.route-link-active{
  color: #4092B8;
}
.vp-dropdown-title{
  color: #F19978;
}
.vp-toc-link{
  color: #003944;
  text-overflow:ellipsis;
}
.vp-toc-item.active > .vp-toc-link {
  color: #F19978; 
  font-weight: bold; 
}
.hint-container.tip > .hint-container-title::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23F18B59' d='M7.941 18c-.297-1.273-1.637-2.314-2.187-3a8 8 0 1 1 12.49.002c-.55.685-1.888 1.726-2.185 2.998H7.94zM16 20v1a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-1h8zm-3-9.995V6l-4.5 6.005H11v4l4.5-6H13z'/%3E%3C/svg%3E");
}
#toc {
  margin-bottom: 1rem;
  border-radius: 8px;
  background-color: #62B4CC;
}
@media (min-width: 1440px) {
  #toc {
      position: absolute;
      inset-inline-start: calc(100% + 1rem);
      min-width: 10rem;
      max-width: 15rem;
      margin-bottom: 0rem;
      border-radius: 0;
      background: transparent;
      
      /* top: calc(var(--navbar-height) + 2rem); */
      
  }
  .vp-toc-link{
    color: #4092B8;
    text-overflow:ellipsis;
  }
}

#app {
  --navbar-bg-color: rgba(64, 146, 184, 0.25);
  --grey-dark: #0790B8;
  --detail-bg-color: #C8EAF1;
  --detail-text-color:#0790B8;
  --tip-border-color:#0790B8;
  --tip-bg-color:#C8EAF1;
  --tip-title-color:#F18B59;

  html[data-theme="dark"] & {
    --navbar-bg-color: rgba(56, 43, 122, 0.25);
    --grey-dark:#CE8218;
    --detail-bg-color: #1F182A;
    --detail-text-color:#f3e4c0;
    --tip-border-color:#f3e4c0;
    --tip-bg-color:#CE8218;
    --tip-title-color:#F2B90F;

    h1{
      color: #f2b90f;
      text-shadow: 0.5vw 0.55vw 0px rgba(91, 117, 181, 1);
      padding-right: 12px;
    };
    h2 .header-anchor {
      background: linear-gradient(to right, #f0b30f, #2f2bff);
      color: white;
      padding: 4px 10px; 
      border-radius: 999px; 
      /* text-decoration: none; /* 去掉下划线 */ 
    }
    .vp-site-name {
      color: #EB9826; 
    }
    .vp-navbar .auto-link{
      color: #f3e4c0;
    }
    .vp-navbar .auto-link.route-link-active {
      color: #f2b90f;
    }
    .vp-navbar .auto-link:hover {
      color: #f2b90f; 
    }
    .vp-nav-item > .auto-link::before {
      content: " ";
      position: absolute;
      inset: auto 0% 0;
      height: 2px;
      border-radius: 1px;
      background: #f2b90f;
    
    }
    .vp-dropdown-wrapper .auto-link.route-link-active {
    color: #f2b90f;
  }
    .vp-dropdown-title{
      color: #f3e4c0;
    }
    .vp-toc-item.active > .vp-toc-link {
      color: #f2b90f; 
      font-weight: bold; 
  }
    .vp-toc-link{
      color: #f3e4c0;
    }
    .hint-container.tip > .hint-container-title::before {
      background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23F2B90F' d='M7.941 18c-.297-1.273-1.637-2.314-2.187-3a8 8 0 1 1 12.49.002c-.55.685-1.888 1.726-2.185 2.998H7.94zM16 20v1a2 2 0 0 1-2 2h-4a2 2 0 0 1-2-2v-1h8zm-3-9.995V6l-4.5 6.005H11v4l4.5-6H13z'/%3E%3C/svg%3E");
    }
    #toc {
      margin-bottom: 1rem;
      border-radius: 8px;
      background-color: #2B1642;
    }
    @media (min-width: 1440px) {
      #toc {
          position: absolute;
          inset-inline-start: calc(100% + 1rem);
          min-width: 10rem;
          max-width: 15rem;
          margin-bottom: 0;
          border-radius: 0;
          background: transparent;
      }
    }


}

}
pre[class*="h1-"]::before {
  color: #fff !important;

  html[data-theme="dark"] & {
    background-color: #222 !important;
  }
}

$theme-color-light: #F18B59 !important;
$theme-color-dark: #F18B59 !important;



/* fonts */
@font-face {
  font-family: "Berlin Sans FB Demi";
  src: url('https://static.igem.wiki/teams/5115/fonts/berlinsansfbdemi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Lobster';
  src: url('https://static.igem.wiki/teams/5115/fonts/lobster.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Viga';
  src: url('https://static.igem.wiki/teams/5115/fonts/viga.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'PangMenZhengDaoBiaoTiTiMianFeiBan';
  src: url('https://static.igem.wiki/teams/5115/fonts/pangmenzhengdaobiaotitimianfeiban-2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Sans';
  src: url('https://static.igem.wiki/teams/5115/fonts/sofiasans-variablefont-wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: normal;
}

@font-face {
  font-family: 'Sofia Sans Italic';
  src: url('https://static.igem.wiki/teams/5115/fonts/sofiasans-italic-variablefont-wght.ttf') format('truetype');
  font-weight: 100 900; 
  font-style: italic;
}

@font-face {
  font-family: 'Dancing Script';
  src: url('https://static.igem.wiki/teams/5115/fonts/dancingscript.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Courgette';
  src: url('https://static.igem.wiki/teams/5115/fonts/courgette.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

