// you can change colors here
$theme-color:#F18B59;
$bg-color: (
  light: #A9DEE8,
  dark: #372a79,
);
$text-color: (
  light: #003944,
  dark: #f3e4c0,
);
$vp-c-text:(
  light: #003944,
  dark: #f3e4c0,
);
$vp-c-accent-hover: (
  light:#C8EAF1,
  dark:#F5E6C2,
);
/* $bg-color: #f2ecdb; */
