/* @font-face {
    font-family: "Berlin Sans FB Demi";
    src: url('BerlinSansFBDemi.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  } */
  @font-face {
    font-family: "Handjet";
    src: url('Handjet-VariableFont_ELGR,ELSH,wght.ttf') format('truetype');
}